html,
body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

nav ul {
  text-align: right;
  position: relative;
  width: 100%;
  background-color: white;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #00477a;
  text-decoration: none;
  font-size: 14px;
}

nav ul li a:hover {
  color: #F2E8EE;
}

.intro {
  top: 0;
  background: url(https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/11885236_10153573965586514_1836024995737153831_n.jpg?_nc_cat=0&oh=46776f887e5bab3b541d61298f157df0&oe=5BCC1323) no-repeat center center;
  opacity: 0.8;
  background-size: 90%;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  min-height: 55vh;
  padding-top: 45vh;
  letter-spacing: 10px;
  font-size: 25px;
}
.intro p{
  font-size: 18px;
}
.precourse {
   padding: 60px;
   background-color: #f8fbf9;
   text-align: left;
  }

.precourse p {
  font-size: 15px;
  width: 40%;
}
.precourse .precourse-header {
    color: #F2CBE4;
    font-weight: 200;
  }

.req {
    text-decoration: none;
    background-color: #B7D6C4;
    color: white;
    display: inline-block;
    margin: 10px 0px;
    border: 1px solid white;
    padding: 1%;
  }

.req:hover {
  background: #F2E8EE;
  color: white;
}
.req-title {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}


.cv {
  padding: 60px;
  background-color: #eefaf0;
  text-align: justify;
}

.cv .cv-header {
  color: #F2CBE4;
  font-weight: 200;
}

.job {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 10px 100px;
  font-size: 15px;
}
.education {
  padding: 60px;
  background-color: #f8fbf9;
  text-align: justify;
  font-size: 15px;
}

.education .education-header {
  color: #F2CBE4;
  font-weight: 200;
}

.sch {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 10px 100px;
  font-size: 15px;
}

.contact {
  background: #eefaf0;
  padding-bottom: 160px;
}

.header {
  padding: 140px 0 100px;
  letter-spacing: 10px;
}

.contact-details {
  display: inline-block;
  margin: 0 35px 45px 35px;
  border: 1px solid white;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #B7D6C4;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.contact-details:hover {
  background: #F2E8EE;
  color: white;
}


footer {
  padding: 20px;
  background: #B7D6C4;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}
