html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  top: 0;
  background: #e8f2ec;
  min-height: 55vh;
  padding-top: 45vh;
  letter-spacing: 10px;

}

.intro p {
  color: #00a9a9;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #e8f2ec;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #00a9a9;
  text-decoration: none;
}

nav ul li a:hover {
  color: #008080;
}


   .precourse {
   padding: 40px;
   background-color: #f8fbf9;
   text-align: justify;
  }

  .precourse .precourse-header {
    color: #00a9a9;
    font-weight: normal;
  }

  .req {
    text-decoration: none;
    color: #00a9a9;
    display: inline-block;
    margin: 10px 0px;
    border: 1px solid #90C695;
    padding: 1%;
  }

.req-title {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}


  .cv {
  padding: 40px;
  background-color: #e8f2ec;
  text-align: justify;
}

.cv .cv-header {
  color: #00a9a9;
  font-weight: normal;
}

.job {
  text-decoration: none;
  color: #00a9a9;
  display: inline-block;
  margin: 10px 100px;
}
  .education {
  padding: 40px;
  background-color: #f8fbf9;
  text-align: justify;
}

.education .education-header {
  color: #00a9a9;
  font-weight: normal;
}

.sch {
  text-decoration: none;
  color: #00a9a9;
  display: inline-block;
  margin: 10px 100px;
}

.contact {
  background: #8CCFAA;
  padding-bottom: 160px;
}

.header {
  padding: 140px 0 100px;
  letter-spacing: 10px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  border: 1px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e8f2ec;
  color: #00a9a9;
  text-decoration: none;
}

.contact-details:hover {
  background: #E8F2F3;
  color: #008080;
}


footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

@media only screen and (max-width: 367px) {

  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}
